# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependency directories
node_modules/

# Vite cache
.vite/

# Build output
dist/

# System files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*.local

# Editor-specific
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Tailwind JIT cache 
.tailwind
